#empty-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    svg {
        height: 120px;
    }

    p {
        font-weight: 750;
        margin-top: 10px;
        font-size: 20px;
    }
}