#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    padding: 0 20px;
    width: calc(100% - 40px);
    margin-bottom: 20px;
    box-shadow: rgba(53, 53, 54, 0.2) 0px 7px 29px 0px;
    position: fixed;
    z-index: 3;

    a {
        height: 37px;
    }

    img {
        height: 37px;
        user-select: none;
    }

    @media screen and (max-width: 600px) {
        a, img {
            height: 30px;
        }
    }

    svg {
        height: 25px;
        cursor: pointer;

        path {
            fill: rgb(40, 40, 40);
        }

        @media screen and (min-width: 1100px) {
            opacity: 0;
            width: 0;
            height: 0;

            path {
                display: none;
            }
        }
    }
}

#menu {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    width: fit-content;
    padding: 0 40px;

    @media screen and (min-width: 500px) {
        padding: 0 60px;
    }

    background-color: #ffffff;
    box-shadow: rgba(53, 53, 54, 0.4) 0px 7px 30px 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #b3b3b39d;
    transition: all 0.3s ease;

    @media screen and (min-width: 1100px) {
        display: none;
    }

    &.menu-open {
        transform: translateX(0);
    }

    &.menu-close {
        transform: translateX(-100%);
    }

    #items {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    path {
        transition: fill 0.5s, transform 0.5s;
    }

    .menu-item {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        transition: color 0.5s, transform 0.5s;
        display: flex;
        padding: 15px 0;
        width: fit-content;
        user-select: none;
        display: grid;
        grid-template-columns: 25px 1fr;

        p {
            margin-left: 10px;
            font-size: 18px;
            transition: color 0.5s, transform 0.5s;
        }

        &:hover {
            path {
                fill: #0066c5;
            }

            p {
                color: #0066c5;
            }
        }

        svg {
            height: 22px;
            margin: 0 auto;
        }
    }

    .active {
        path {
            fill: #a87309;
        }

        p {
            color: #a87309;
        }
    }
}