#posts {
    padding-bottom: 40px;
    padding-top: 80px;
}

#materia-title {
    background-color: white;
    width: calc(100% - 60px);
    padding: 10px 15px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: rgba(179, 179, 179, 0.459) 0px 7px 29px 0px;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }
}