#publication {
    max-width: calc(1000px - 32px);
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #b3b3b3;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: rgba(179, 179, 179, 0.459) 0px 7px 29px 0px;
    width: calc(100% - 60px);

    hr {
        border: none;
        height: 1px;
        background-color: #b3b3b3;
        margin: 10px 0;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .header-details {
            padding-left: 10px;

            h2 {
                font-size: 18px;
            }

            .subject-course {
                font-size: 12px;
                font-weight: 500;
            }
        }

        img {
            height: 40px;
            width: 40px;
            background-color: black;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .content {
        font-size: 14px;
        padding-bottom: 5px;

        span {
            font-weight: 500;
            color: #0066c5;
            cursor: pointer;
        }
    }

    .date-published {
        font-size: 12px;
        font-weight: 500;
    }

    .expand-button {
        margin-left: 5px; /* Espacio entre texto y botón */
        display: inline; /* Asegura que se alinee en la misma línea */
    }

    .interactive-section {
        display: flex;

        .comments-section {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-weight: 500;
            cursor: pointer;
            width: fit-content;
            user-select: none;

            svg {
                height: 20px;
            }

            path {
                transition: fill 500ms;
            }

            p {
                font-size: 14px;
                padding-left: 5px;
                transition: color 500ms;
            }

            span {
                font-size: 12px;
                line-height: 14px;
                transition: color 500ms;
            }
        }

        .details-section {
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-weight: 500;
            width: fit-content;
            cursor: pointer;
            user-select: none;

            a {
                display: flex;
                text-decoration: none;
                color: black;
            }

            path {
                transition: fill 500ms;
            }

            svg {
                height: 20px;
            }

            p {
                font-size: 14px;
                padding-left: 5px;
                transition: color 500ms;
                padding-right: 12px;
            }
        }
    }

    &.task-item {
        background-color: #fbf8e7;

        .comments-section:hover,
        .details-section:hover {
            path {
                fill: #b1893a;
            }

            p {
                color: #b1893a;
            }

            span {
                color: #b1893a;
            }
        }
    }

    &.publication-item {
        background-color: #ffffff;

        .comments-section:hover {
            path {
                fill: #0066c5;
            }

            p {
                color: #0066c5;
            }

            span {
                color: #0066c5;
            }
        }
    }
}